body {
    background-image: url("../img/background/bg2.jpg");
}

#native-logo {
    max-width: 100px;
    margin-top: 4%;
}

.form {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10% 5%;
    border-radius: 2px;
}

#second-row .form {
    margin-top: 14%;
    color: #0F68DC;
}

.form-field {
    margin-top: 5%;
    color: #222222;
}

.form-field input[type="text"], .form-field input[type="password"], .form-field input[type="email"] {
    border-radius: 0;
    box-shadow: none;
    outline: none;
}
.form-field b {
    font-weight: 500;
    text-decoration: underline;
}

.btn-customize {
    background-color: #0F68DC;
    width: 100%;
    border-radius: 0;
    border-style: none;
    padding: 2%;
}
