body {
    background-color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
}

#fixed-nav {
    background-color: #fff;
    padding: 1% 2%;
}

#brand-logo {
    max-width: 100px;
}

#content {
    margin-top: 4%;
}

#profile-box {
    background-color: #fff;
    margin-top: 6%;
    padding: 4%;
    border: 1px solid #eee;
}

#profile-box h6 {
    margin-top: 4%;
}

#profile-box form {
    margin-top: 4%;
}

.btn-customize {
    background-color: #0F68DC;
    width: 60%;
    border-radius: 20px;
    border-style: none;
    padding: 2%;
}

input[type="file"] {
    border-radius: 0;
    box-shadow: none;
    outline: none;
}